.wrapper_btn {
    float: left;
    margin: 0 15px 0 0;
    width: 100px;
    height: 30px;
    position: relative;
  }
  
  .wrapper_btn label,
  .wrapper_btn input {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  .wrapper_btn input[type="radio"] {
    opacity: 0.011;
    z-index: 100;
  }
  
  .wrapper_btn input[type="radio"]:checked + label {
    background: #fe0100;
    border-radius: 4px;
  }
  
  .wrapper_btn label {
    cursor: pointer;
    z-index: 90;
    line-height: 1.8em;
  }
  